html {
  background-image: url("files/christmasstars.gif");
  background-repeat: repeat;
}
body {
  color: white;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
p,
ul {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  font-size: 1.2em;
}
h2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  font-size: 2em;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
.centertext {
  text-align: center;
}
.logo {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  text-align: center;
}
.centerimage {
  display: inline-block;
}
.floatright {
  float: right;
}
.floatleft {
  float: left;
}
li {
  padding: 5px;
}
a {
  cursor: url("files/snowmancursor.gif"), auto;
}
.topmargin {
  margin-top: 3em;
}
