html {
  background-image: url("assets/purpskybg.jpg");
  background-repeat: repeat;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  color: white;
}
p,
ul {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  font-size: 1.9em;
}
h2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  font-size: 2em;
}
h1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  font-size: 3em;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
.centertext {
  text-align: center;
}
.centerwide {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  text-align: center;
}
.centerimage {
  display: inline-block;
}
.floatright {
  float: right;
}
.floatleft {
  float: left;
}
li {
  padding: 5px;
}
.topmargin {
  margin-top: 3em;
}
body {
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
}
.browsecard {
  font-size: 5em;
  width: 70%;
  margin-left: 10%;
  margin-right: 10%;
}
a,
a:visited {
  color: #6e6eff;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0.5rem;
  text-align: center;
}
li {
  margin: 1rem;
  display: inline;
  text-align: center;
}
tr {
  font-size: 3em;
}
.nameth {
  width: 100%;
  text-align: center;
}
.dateth {
  width: 100%;
}
form {
  font-size: 2em;
}
.btn-primary {
  display: block;
  margin: 20px auto;
  padding: 15px 30px;
  font-size: 1.4em;
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}
input[type="text"],
input[type="search"],
input[type="email"],
input[type="password"],
textarea,
select {
  display: block;
  width: 100%;
  box-sizing: border-box; /* include padding and border in width */
  padding: 0.6rem;
  font-size: 1em;
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
  color: inherit;
  background: rgba(255, 255, 255, 0.03);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 4px;
  margin: 0.5rem 0;
}

input[type="text"]:focus,
input[type="search"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(110, 110, 255, 0.12);
  border-color: #6e6eff;
}
/* Responsive font sizes for mobile */
@media (max-width: 600px) {
  p,
  ul {
    font-size: 1.4em;
  }
  h2 {
    font-size: 1.4em;
  }
  .browsecard {
    font-size: 2.1em;
  }
  .showstable {
    font-size: 1.4em;
  }
}
